metadata_dir = "/var/lib/garage/meta"
data_dir = "/var/lib/garage/data"
db_engine = "lmdb"
replication_factor = 1

rpc_bind_addr = "0.0.0.0:3901"
rpc_public_addr = "object-storage:3901"
rpc_secret = "replace-this-in-real-environments"

[s3_api]
api_bind_addr = "0.0.0.0:3900"
s3_region = "garage"

[s3_web]
bind_addr = "0.0.0.0:3902"
root_domain = ".web.localhost"
index = "index.html"

[admin]
api_bind_addr = "0.0.0.0:3903"
admin_token = "replace-this-in-real-environments"
